# Data Structures

While lists are the most widely used data structure in Python, they are not the only one. Other built-in data structures are sets and dictionaries:
- Sets - unordered collections without duplicates.
- Dictionaries - maps from one value (often strings) to another.

An important feature of Python data structures is that some are mutable and some are immutable; mutation and mutability are key concepts discussed in this section.  

For example, slicing is non-mutating.  Slicing a list does not change/mutate the list itself.  See the following:

In [1]:
L = ['a', 'b', 'c']
L[1:]

['b', 'c']

Slicing is non-mutating.  While `L[1:]` returns a sub-list, the original list **`L`** remains unchanged/unmutated:

In [2]:
L

['a', 'b', 'c']

`map` and `upper` are also non-mutating functions.  Generally a function that returns a value is non-mutating.

In [3]:
list(map(lambda s: s.upper(), L))

['A', 'B', 'C']

`L` remains unchanged.

In [4]:
L

['a', 'b', 'c']

## Mutating Operations on Lists

List is a mutable data type. The most important mutating operation is: **assignment**

In [5]:
skills = ['Python','SAS','Hadoop']
skills[1] = 'R'

Assignment does not have any output, but the value of `skills` is changed!

In [6]:
skills

['Python', 'R', 'Hadoop']

In [7]:
skills = ['Python','SAS','Hadoop']
my_skills = skills
skills[1] = 'R'     # no assignment to my_skills
my_skills

['Python', 'R', 'Hadoop']

In [8]:
skills

['Python', 'R', 'Hadoop']

We have always added a list to another list by using `+`, which is non-mutating:

In [11]:
L = ['a', 'b', 'c']
L + ['d']

['a', 'b', 'c', 'd']

But `L` is not updated:

In [10]:
L

['a', 'b', 'c']

Assigning the value back to `L` updates it:

In [12]:
L = L + ['d']   
L

['a', 'b', 'c', 'd']

The `append` operation mutates a list:

In [13]:
L.append('e')
L

['a', 'b', 'c', 'd', 'e']

The `extend` operation is similar to `append` if the input is one single value. However, it will flatten the input list and then append it to the original list.

In [14]:
L.append([1,2,3])

In [15]:
L

['a', 'b', 'c', 'd', 'e', [1, 2, 3]]

In [16]:
L.extend([1,2,3])

In [17]:
L

['a', 'b', 'c', 'd', 'e', [1, 2, 3], 1, 2, 3]

`lis.insert(i, x)` inserts `x` so that it is at location `i` in the list.  (If `i` is out of bounds, it inserts it in the closest place it can.)

In [18]:
L = ['a', 'b', 'c']
L.insert(2, 'd')
L

['a', 'b', 'd', 'c']

In [19]:
L.insert(10, 'e')
L

['a', 'b', 'd', 'c', 'e']

In [20]:
L.insert(-10, 'f')
L

['f', 'a', 'b', 'd', 'c', 'e']

In [21]:
L.insert(-8, 'f')
L

['f', 'f', 'a', 'b', 'd', 'c', 'e']

## Tuples, sets and dictionaries

We can now explain the other data types of Python.
- **Strings**:  Like lists of characters.  Immutable.
- **Tuples**:  Tuples are like lists, but are immutable.
- **Sets**:  Also like lists, except that they do not have duplicate elements.  Mutable.
- **Dictionaries**:  These are tables that associate values with keys (usually strings).  Mutable.


**Strings**

Strings are immutable

In [22]:
company = 'Eskwelabs'
company[0] = 'A'

TypeError: 'str' object does not support item assignment

In [23]:
'A'+company[1:]

'Askwelabs'

**Tuples**

- Tuples are similar to lists, but they are immutable.
- Tuples are written with parentheses instead of square brackets.

In [24]:
courses = ('Programming', 'Stats', 'Math') 
courses[2] = 'Algorithms'

TypeError: 'tuple' object does not support item assignment

- Tuples support all the non-mutating list operations:

In [25]:
courses[1:]

('Stats', 'Math')

In [26]:
list(map(lambda s: s.upper(), courses))

['PROGRAMMING', 'STATS', 'MATH']

Tuples and lists both allow a shorthand for assignment that allows all the elements of the tuple or list to be assigned to variables at once:

In [27]:
(a,b) = (1,2)   # works with lists also
a

1

In [28]:
b

2

This provides a handy way to swap variables:

In [30]:
(a,b) = (b,a)
a

2

In [31]:
b

1

- Function can return multiple values at the same time. 
- Make sure you have the exact same number of variables when you assign the output of your function.

In [32]:
def square_all(x, y):
    return x**2, y**2

In [33]:
x, y = square_all(2,3)

In [34]:
x, y

(4, 9)

**Set**

- A set is an unordered collection with no duplicate elements.  Sets are mutable.

- To create a set, you can use either curly braces or the `set()` function.

In [35]:
vowels = {'u','a','e','i','o','u','i'}
vowels

{'a', 'e', 'i', 'o', 'u'}

In [36]:
fruit = set(['apple', 'orange', 'apple', 'pear'])
fruit

{'apple', 'orange', 'pear'}

- Sets support non-mutating list operations, as long as they don’t depend on order:

In [1]:
primes = {2, 3, 5, 7}
# primes[2]

In [2]:
sum(primes)

17

In [39]:
set(map(lambda x: x*x, primes))       # order is not guaranteed

{4, 9, 25, 49}

`set` is a mutable data type, but **all the elements need to be immutable data type**, i.e. you can't add a list to a set.

In [40]:
primes.add('9')
primes.add((11,13,17))
primes

{(11, 13, 17), 2, 3, 5, 7, '9'}

Sets have mathematical operations like union (|), intersection (&), difference (-), and symmetric difference (^).

In [41]:
a = {'a', 'b', 'c'}
b = {'b', 'c', 'd'}

In [42]:
a | b       # union

{'a', 'b', 'c', 'd'}

In [43]:
a & b       # intersection

{'b', 'c'}

In [44]:
a - b       # difference

{'a'}

In [45]:
a ^ b       # symmetric difference (a-b | b-a)

{'a', 'd'}

**Dictionaries**

- A dictionary is a set of keys with associated values. Each key can have just one value associated with it.  Dictionaries are mutable.
 - Any immutable object can be a key, including numbers, strings, and tuples of numbers or strings.  Strings are the most common.
 - Any object can be a value.

- Dictionaries are written in curly braces (like sets), with the key/value pairs separated by colons:

In [46]:
employee = {'sex': 'male', 'height': 6.1, 'age': 30}
employee

{'sex': 'male', 'height': 6.1, 'age': 30}

The most important operation on dictionaries is key lookup:

In [47]:
employee['age']

30

We can add new key: value pairs to the dictionary:

In [48]:
employee['city'] = 'New York'
employee

{'sex': 'male', 'height': 6.1, 'age': 30, 'city': 'New York'}

It is illegal to access a key that is not present:

In [49]:
employee['weight']

KeyError: 'weight'

but you can check if a key is present using the in operator:

In [50]:
'weight' in employee

False

You can also get a list of the keys, the values, or all key/value pairs:

In [51]:
employee = {'sex': 'male', 'height': 6.1, 'age': 30}
employee.keys()

dict_keys(['sex', 'height', 'age'])

In [52]:
employee.values()

dict_values(['male', 6.1, 30])

In [53]:
employee.items()

dict_items([('sex', 'male'), ('height', 6.1), ('age', 30)])

For convenience, you can construct a dictionary from a list (or set) of tuples:

In [ ]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

**Example 1**

- Given the following dictionary:
```
inventory = {'pumpkin': 20, 'fruit': ['apple', 'pear'], 'vegetable': ['potato','onion','lettuce']}
```
- Modify inventory as follows:
 - Add a meat inventory item containing 'beef', 'chicken', and 'pork'.
 - Sort the vegetables (Recall the sorted function.)
 - Add five more pumpkins.
After these changes, inventory is:
```
{'vegetable': ['lettuce', 'onion', 'potato'], 'fruit': ['apple', 'pear'],
 'meat': ['beef', 'chicken', 'pork'], 'pumpkin': 25}
```

In [62]:
inventory = {'pumpkin' : 20, 'fruit' : ['apple', 'pear'],
           'vegetable' : ['potato','onion','lettuce']}

#### Your code here
inventory['meat'] = ['beef', 'chicken', 'pork']
inventory['vegetable'] = sorted(inventory['vegetable'])
inventory['pumpkin'] = inventory['pumpkin'] + 5

inventory

{'pumpkin': 25,
 'fruit': ['apple', 'pear'],
 'vegetable': ['lettuce', 'onion', 'potato'],
 'meat': ['beef', 'chicken', 'pork']}

# Conditionals

- We have seen boolean functions in the `filter` operator. Booleans can also be used inside functions, to do different calculations depending upon properties of the input.

- For example, recall the function firstelt.  It returns the first element of a list:
```
￼def firstelt(L):
    return L[0]
```
- It throws an error if its argument is the empty list. The function could be more robust if it returns **None** when passed the empty list.  
- **None** is a special value in Python used for these types of cases.

In [63]:
def firstelt(L):
    if L == []:
        return None
    else:
        return L[0]

In [64]:
L1=[]
L2=[1,2,3]
print(firstelt(L1))
print(firstelt(L2))

None
1

- The syntax for a conditional in a function is:
```
if condition:                # any boolean expression
    return expression        # return is indented from if
else:                        # else starts in same column as if
    return expression        # return is indented from else
```
- The syntax in `lambda` definitions is different:
```
lambda x: expression if condition else expression
```

- For example, here is `firstelt` in lambda syntax:

In [67]:
Firstelt = lambda L: None if L==[] else L[0]

L1=[]
L2=[1,2,3]
print(firstelt(L1))
print(firstelt(L2))

None
1

Conditionals can be nested arbitrarily:
- Return A if c1 is true, B if c1 is false but c2 is true, and C if both are false:
```python
if c1:
    return A
else:
    if c2:
        return B
    else:
        return C
```
- Having an `if` follow an `else` is so common there is special syntax for it:
```python
if c1:
    return A
elif c2:
    return B
else:
    return C
```
- Return A if c1 and c2 are true, B if c1 is true but not c2, C if c1 is false but c3 is true, and D if c1 and c3 are both false:
```python
if c1:
    if c2:
        return A
    else:
        return B
elif c3:
    return C
else:
    return D
```

# For loop

A simple example is printing the elements of a list. Since `print()` function does not return any value, we can’t use it in `map()`.

In [68]:
words = ['a', 'b', 'c', 'd', 'e']
for word in words:
    print(word)

a
b
c
d
e

In [69]:
for i in "anything":
    print(i)

a
n
y
t
h
i
n
g

Recall that the range function generates a list of numbers:

In [70]:
for i in range(len(words)):
    print(i, words[i])

0 a
1 b
2 c
3 d
4 e

The Python function `enumerate()` returns both the index and element as a tuple from the list, simultaneously.

In [71]:
words = ['a', 'b', 'c', 'd', 'e']
for i, e in enumerate(words):
    print(i, e)

0 a
1 b
2 c
3 d
4 e

- In addition to the iteration variable taking on values in a list, you may want other variables to take on different values in each iteration.  You can accomplish this by “self-assigning” to those variables.  
- The following loop sums the elements of a list:

In [72]:
primes = [2, 3, 5, 7, 11]
sum_ = 0    # Do not overwrite the built-in sum() function
for p in primes:
    sum_ = sum_ + p
sum_

28

In [73]:
sum(primes)

28

# List Comprehension

- List comprehensions are another notation for defining lists. They mimic the mathematical notation of “set comprehensions” and have a concise syntax.  In one step, list comprehensions can perform the combined operation of any filter and map.
- A list comprehension has the form: 
```
[ <expresion> for <element> in <list> if <boolean> ]
```

- First consider the list comprehension that squares every element in a list, as follows:

In [74]:
[ x**2 for x in [1, 2, 3, 4, 5]] #pure map

[1, 4, 9, 16, 25]

Note the above list comprehension has no `if` statement.  The following list comprehension includes an if statement.  This comprehension squares every even element in a list.

In [75]:
[ x*x for x in [1, 2, 3, 4, 5] if x%2==0] #map and filter

[4, 16]

- A list comprehension can also use if/else statements.  These types of list comprehensions have a slightly different syntax.

- A list comprehension with an if/else statements has the form: 
```
[ <expr1> if <boolean> else <expr2> for <element> in <list> ]
```
- Consider the list comprehension that squares even element in a list and adds two to every odd element, as follows:

In [76]:
[ x*x if x%2==0 else x+2 for x in [1, 2, 3, 4, 5] ]

[3, 4, 5, 16, 7]

This final example extracts the first element of every non-empty sublist.

In [78]:
nested_list1 = [[], ["ab", "cd"], [3, 4, 5]]

In [79]:
[l[0] for l in nested_list1 if l != []]

['ab', 3]

If you have difficulties understanding list comprehensions, think about it like a for loop. 

```python
for item in list:
    if conditional:
        expression
```

# While Loop

- While loops are used when the condition for terminating the loop is known, but not necessarily the number of iterations.  Examples include:
 - Summing the elements of a list up to the first zero.
 - Using Newton’s method to find the argument of a function that makes it zero valued.  This works by finding values which make the function approach zero.  The iterations stop when the method converges, finding an argument which brings the value within a certain range of zero.
 - Getting input from a user until the user enters ‘quit’.
 
- When using a while loop, iteration continues until a given condition becomes false:
```
while <condition>:
   statements
```
- As a first example, this loop prints integers from 0 to 9:

In [80]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

This for loop does the same thing:

In [81]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

- One thing we can do with while loops that is hard to do with for loops is to terminate early.  
- This loops adds up integers starting from 1 until the sum exceeds n:

In [82]:
n = 20
i = 1
sum_ = 0 # Do not overwrite the built-in sum() function
while sum_ <= n:
    sum_ = sum_ + i
    i = i + 1
sum_

21

This loop is similar, but sums the numbers in a list.

In [83]:
L = [5, 10, 15, 20, 25]

n = 20
i = 0
sum_ = 0
while sum_ <= n:
    sum_ = sum_ + L[i]
    i = i + 1
    
sum_

30

When iterating over a list like this, care must be taken not to go out of bounds. Without doing so, we might end up with the following:

In [84]:
n = 80
i = 0
sum_ = 0
while sum_ <= n:
    sum_ = sum_ + L[i]
    i = i + 1
sum_

IndexError: list index out of range

This problem can be fixed by modifying the header:

In [85]:
n = 80
i = 0
sum_ = 0
while sum_ <= n and i < len(L):
    sum_ = sum_ + L[i]
    i = i + 1
    
sum_

75

**Break** and **Continue** Statements

- The **break** statement immediately terminates the (for or while) loop it is in.  This provides a way to terminate the loop within the middle of the body. 

- The **continue** statement terminates the current iteration of the loop and goes back to the header.

- The loop below adds the values in a list, but ignores negative numbers, and stops if the number exceeds 100:

In [86]:
L = [10, -10, 20, -20, 30, -30, 40, -40, 50, -50, 60, -60]

sum_ = 0
for x in L:
    if x < 0:
        continue
    sum_ = sum_ + x
    if sum_ > 100:
        break
        
sum_

150

## Exercises

**Exercise 1**

Define the following functions using if conditionals:
 1. `leap_year(y)` returns true if `y` is divisible by 4, except if it is divisible by 100; but it is still true if `y` is divisible by 400. Thus, 1940 is a leap year, 1900 isn’t, and 2000 is.
 2. Use `filter` to define a function `leap_years` that selects from a list of numbers those that represent leap years.

In [88]:
#### Your code here
#1
def leap_year(y):
    if (y % 4 == 0 and y % 100 != 0):
        return True
    elif (y % 400 == 0):
        return True

print(leap_year(1940))
print(leap_year(1900))
print(leap_year(2000))

True
None
True

In [89]:
#2
def leap_years(L):
    return list(filter(leap_year, L))

leap_years([1940, 1900, 2000])

[1940, 2000]

**Exercise 2**

Write list comprehensions to create the following lists:
 - The square roots of the numbers in `[1, 4, 9, 16]`. (Recall that `math.sqrt` is the square root function.)
 - The even numbers in a numeric list `L`. Define several lists `L` to test your list comprehension. 
 **Hint** (`n` is even if and only if `n % 2 == 0`.)

In [90]:
#### Your code here

#1
import math
[math.sqrt(x) for x in [1, 4, 9, 16]]

[1.0, 2.0, 3.0, 4.0]

In [106]:
#2
import math
[x for x in [1, 4, 9, 16] if x % 2 == 0]

[4, 16]

**Exercise 3**

Calculate the sum of integers that can be divided by 7 and less than 100. In the following example code, we use while True, which means the while loop will keep running until you break it.

```
i = 0
sum_ = 0
while True:

	# Type your code here

print sum_
```

In [3]:
i = 0
sum_ = 0
while True:
    if i >=100:
        break
    elif i % 7 == 0:
        sum_ += i
    i += 1

print(sum_)

735