In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
df = pd.read_excel('C_Online_Retail.xlsx')

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
df.shape

(541909, 8)

In [ ]:
#1. What CustomerID bought most product

In [7]:
df['CustomerID'].nunique() #CustomerIDs are not unique, we would need to groupby

4372

In [19]:
df.groupby('CustomerID')['Quantity'].sum().sort_values(ascending = False) #answer: Customer ID 14646

CustomerID
14646.0    196719
12415.0     77242
14911.0     77180
17450.0     69029
18102.0     64122
            ...
16252.0      -158
16742.0      -189
14213.0      -244
15823.0      -283
16546.0      -303
Name: Quantity, Length: 4372, dtype: int64

In [ ]:
#2. What Customer ID spent most

In [11]:
df['Spending'] = df['Quantity'] * df['UnitPrice']

In [12]:
df['Spending'] #amount of spending

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Spending, Length: 541909, dtype: float64

In [21]:
df.groupby('CustomerID')['Spending'].sum().sort_values(ascending = False) #answer: 14646

CustomerID
14646.0    279489.02
18102.0    256438.49
17450.0    187482.17
14911.0    132572.62
12415.0    123725.45
             ...
12503.0     -1126.00
17603.0     -1165.30
14213.0     -1192.20
15369.0     -1592.49
17448.0     -4287.63
Name: Spending, Length: 4372, dtype: float64

In [ ]:
#3. What day has the most purchase

In [22]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   Spending     541909 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.2+ MB

In [35]:
df.groupby(df['InvoiceDate'].dt.dayofweek)['InvoiceNo'].nunique().sort_values(ascending = False) #answer Thursday

InvoiceDate
3    5660
2    4815
1    4722
4    4184
0    4138
6    2381
Name: InvoiceNo, dtype: int64

In [ ]:
#What is most bought product - use StockCode

In [30]:
df['StockCode'].nunique()

4070

In [32]:
df['StockCode'].value_counts()

85123A    2313
22423     2203
85099B    2159
47566     1727
20725     1639
          ...
35015        1
62095B       1
90037A       1
23609        1
21310        1
Name: StockCode, Length: 4070, dtype: int64

In [33]:
df.groupby('StockCode')['Quantity'].sum().sort_values(ascending = False) #answer StockCode 22197

StockCode
22197      56450
84077      53847
85099B     47363
85123A     38830
84879      36221
           ...
79323LP    -2618
79323W     -4838
72140F     -5368
23003      -8516
23005     -14418
Name: Quantity, Length: 4070, dtype: int64

In [36]:
df[df['StockCode'] == 22197]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Spending
221,536390,22197,SMALL POPCORN HOLDER,100,2010-12-01 10:19:00,0.72,17511.0,United Kingdom,72.00
393,536404,22197,SMALL POPCORN HOLDER,36,2010-12-01 11:29:00,0.85,16218.0,United Kingdom,30.60
532,536409,22197,SMALL POPCORN HOLDER,2,2010-12-01 11:45:00,0.85,17908.0,United Kingdom,1.70
610,536412,22197,SMALL POPCORN HOLDER,5,2010-12-01 11:49:00,0.85,17920.0,United Kingdom,4.25
804,536464,22197,SMALL POPCORN HOLDER,5,2010-12-01 12:23:00,0.85,17968.0,United Kingdom,4.25
...,...,...,...,...,...,...,...,...,...
540321,581476,22197,POPCORN HOLDER,100,2011-12-09 08:48:00,0.72,12433.0,Norway,72.00
540785,581492,22197,POPCORN HOLDER,34,2011-12-09 10:03:00,1.63,NaN,United Kingdom,55.42
541285,581497,22197,POPCORN HOLDER,68,2011-12-09 10:23:00,2.46,NaN,United Kingdom,167.28
541678,581538,22197,POPCORN HOLDER,4,2011-12-09 11:34:00,0.85,14446.0,United Kingdom,3.40
541825,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581.0,United Kingdom,20.40